body{
    background-image: linear-gradient(45deg, #7c8bdd, #ec80d1);
    background-size: 1920px 2800px;
}
*{
   margin: 0;
   padding: 0;
}

.main{
    text-align:left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 160vh;
    width: 100%;
     background-size: cover; 
     padding-left: 5%; 
     background-position: center;
      padding-right: 5%;
     box-sizing: border-box;
      position: relative;

}

.navabar{
    width: 100%;
    height: 15px;
    margin: auto;
    display: flex;
    align-items: center;
        
}


.logo{
 
    width: 160px;
    cursor: pointer;
}

.cart{
 
    width: 3px;
    cursor: pointer;
}

logo{
    text-decoration: none;
    color: #333;
    background: linear-gradient(45deg,#87adfe,#ff77cd);
    padding: 27px;
    border-radius: 23px;
    color: white;
    top: 47px;
    position: relative;
    box-shadow: 3px 8px rgba(94,28,68,0.15);
    left: -62px;
    font-size: 32px;
}
nav{
    flex:1;
    padding-left: 60px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    border: 4px solid #e8d6e4;
    background: linear-gradient(45deg,#87adfe,#ff77cd);
    padding: 20px;
    border-radius: 23px;
    color: white;
    top: 15px;
    position: relative;
    box-shadow: 3px 8px rgba(94,28,68,0.15);
    left: 158px;
    font-size: 21px;
    
}
nav ul li a:hover{
    border: 4px solid #eaa6f4;
    color: #e8d6e4;
}
.content{
    font-size: 18px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color:#232d60;
}

.content{
    margin-left: 0%;
    margin-right: 10%;
    display: inline-block;
    background: linear-gradient(45deg,#87adfe,#ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px rgba(94,28,68,0.15);
    position: relative;
    top: 94px;
    
}

.aboutpage{
    margin-left: 0%;
    margin-right: 10%;
    display: inline-block;
    background: linear-gradient(45deg,#87adfe,#ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 10px 16px rgba(94,28,68,0.15);
    position: relative;
    top: 94px;
    font-size: 21px;
}
/*.content .btn{
    display: inline-block;
    background: linear-gradient(45deg,#87adfe,#ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px rgba(94,28,68,0.15);
    position: relative;
    top: 24px;
}*/

.arrow-icons img{
    margin-right: 25px;
    height: 70px;
    width: 68px;
    left: 11px;
    top: 28px;
    border-radius: 45px;
    position: relative;
    border: 4px solid #f1c1f8;  
}
.arrow-icons img:hover{
    border: 4px solid #eaa6f4;
    color: #fff;
}
.feature-img{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;
}
span {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    
}
/*a {
	color: #f00;
	text-decoration: none;
}
a:hover {
	color: #951a1a;
	text-decoration: none;
}*/
.movies {
width: 100%; 
display: flex;
flex-wrap: wrap;  
}
.movies li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 15px;
    border-radius: 7px;
    text-align: center;
    background-color: rgba(182, 94, 200, 0.4);
    position: relative;
    top: 109px;
    box-shadow: 3px 8px rgba(94,28,68,0.15);
}
.movies li img {
    max-width : 300px; 
    border-radius: 7px; 
}
.movies li h2 {
    color: #ffff; 
    font-size: 20px; 
    padding: 15px 10px 0; 
    margin-top: auto; 
    font-family: "Oswald", sans-serif
}
.movies li h3 {
    color: #ffff; 
    font-size: 2.5em; 
    padding: 25px 15px 0; 
    margin-top: auto; 
    font-family: "Oswald", sans-serif
}
.search{
    height:100%;
    width:500px; 
    border-radius:7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
    border: 4px solid #f1c1f8;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.39);
    color: black;
   }
.search:hover{
    border: 4px solid #eaa6f4;
}
.a{
    height:10px; 
    width:5px; 
    border-radius: 1px;
    position: relative; 

}
.searchbtn{
    height: 70px;
    width: 73px;
    left: 3px;
    top: 8px;
    border-radius: 8px;
    position: relative;
    border: 4px solid #939393;
    background-color: rgb(40, 43, 0, 0);  
}
.searchbtn:hover{
    background-color: rgb(63, 63, 63);
}
.heading1{
    font-size: 2em;
    color: #919191;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Smartphones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
 .search{
    height:100%;
    width:100%; 
    border:none;
    border-radius:30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:relative;
    align-self: center; 
    top:20px;
    left:0px;
}

    .searchbtn{
    position:relative;
    left:290px;
    top:-35px;
    border-radius:50px;
}
}
/* iPads */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}
/* Smartphones (landscape) */
@media only screen 
and (min-width : 321px) {
/* Styles */
}
/* Smartphones (portrait) */
@media only screen 
and (max-width : 320px) {
/* Styles */
}
/* Desktops and Laptops */
@media only screen 
and (min-width : 1224px) {
/*styles*/
}
/* Large Screens */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

.titlepage{
    font-size: 8em;
    text-decoration: none;
    text-align: center;
    color: #666666;
    position: absolute;
    left: 0%;
    right: 0%;
    top:2px;
}
.links{
    font-size:2.3em;
    background-color: rgb(40, 43, 45);
    border: 3px solid #939393;  
    padding: 8px;
    position: relative;
    left: -462px;
    color: #919191;
    border-radius: 7px;
}
.links:hover{
    color:#d6d6d6;
}
.title {
    font-size: 3em;
    color: #e5cbff;
}
.text {
    font-size: 20px;
}
.img {
    border: none;
}
.searchbox{
    font-size: 17px;
    line-height: 2;
}